* { box-sizing: border-box; }
header, nav, main, footer { display: block; }
body { background-color: #ccffff; 
            font-family: Verdana, Arial, sans-serif;}
#wrapper { background-color: #99e6e6;
           width: 80%;
           margin-right: auto;
		   margin-left: auto;
           min-width: 900px;
		   max-width: 1280px;
		   box-shadow: 3px 3px 3px #666666; 
}
#Grace { background-color: #ffffff;
    background-size: 100% 100%;
    }
header { background-color: #99e6e6;
		height: 250px;
       background-image: url(pwglogo.jpg);
       background-repeat: no-repeat;
}
h1 { padding-top: 45px;
    padding-left: 220px;
    font-size: 3em; }
h2 {font-size: 2em; 
	text-align: center;}
	
nav { text-align: center; 
     font-weight: bold; 
	 font-size: 1.5em;
	 padding-top: 10px;
	 float: left;
	 width: 200px;
}
nav a { text-decoration: none; }
nav a:link { color: #ffe6ff; }
nav a:visited{ color: #ffffcc; }
nav a:hover { color: #ccffcc; }
nav ul { list-style-type: none;
       padding-left: 0; 
}
main { padding: 0 0 2em 0;
    margin-left: 200px;
    background-color: #ffffff;
}
footer { background-color: #99e6e6;
       font-size: small;
	   font-style: italic;
	   text-align: center;
	   padding-bottom: 2px;
	   border-top: 2px #0a585e solid;
}
form {padding: 2em;}

main h2, main h3, main h4, main p, main div, main ul, main dl { padding-left: 3em; padding-right: 2em; }
h4 { background-color: #00ffff;
    font-size: 1.2em;
	padding-left: 10px;
	padding-bottom: 0;
	text-transform: uppercase;
    border-bottom: 1px solid #42fcfc;
	clear: left;
}
.details { padding-left: 20%;
          padding-right: 20%;
		  overflow: auto;
}
.floatleft { float: left;
             padding-right: 20px;
			 padding-bottom: 20px; 
}
img { padding-left: 10px;
     padding-right: 10px;
}
table {width: 90%;
	box-align: center;
	border-spacing: 0;
	margin: auto;}
tbody td {padding: 10px;}
tbody tr {padding: 10px;}
tr:nth-of-type(even) {background-color:#47d1d1}

label { display: block;
	float: left;
	width: 8em;
	padding-right: 10px; }
input, textarea { display: block;
	margin-bottom: 1em; }

#mobile { display: none; }
#desktop { display: inline; }
@media only screen and (max-width: 1024px) {
	body { background-image: none; }
	#wrapper { width: auto;
				min-width: 0;
				margin: 0;
				padding: 0;
				box-shadow: none; 	}
	header { border-bottom: 5px solid #FEF6C2; }
	h1 { margin-top: 0;
	    margin-bottom: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 2.5em; 	}
	nav { float: none;
	      width: auto;
		  padding-top: 0;
		  margin: 10px;
		  font-size: 1.3em; 	}
	nav li  { display: inline-block; }
	nav a { padding: 1em; 
	      width: 8em;
		  font-weight: bold;
		  border-style: none; }
	nav ul { padding: 0;
	       margin: 0; }
	#heroroad, #heromugs, #heroguitar, #herojobs { margin: 0; padding: 0; }
	main { padding: 0;
	      margin: 0;
		  font-size: 90%; }
}
@media only screen and (max-width: 768px) {
	header { background-color: url(#d2B48C); 
			height: 128px; }
	h1 { font-size: 2em;
	     text-align: center;
		 padding-left: 0; }
	nav { margin: 0; }
	nav a { display: block;
	       padding: 0.2em;
		   width: auto;
		   border-bottom: 1px solid #FEF6C2; }
	nav li { display: block; }
	main  { padding-top: 1px; }
	h2 { padding: 0.5em 0 0 0.5em;
	    margin-right: 0.5em; }
	.details { padding-left: 0; padding-right: 0; }
	#heroroad, #heromugs, #heroguitar, #herojobs { background-image: none; height: auto; } 
	.floatleft { padding-left: 0.5em; padding-right: 0.5em; }
	#mobile { display: inline; }
	#desktop { display: none; }
}